.ProductInfo {

    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 30px;
    color: cornflowerblue;
    padding: 10rem;

}


.ImgProductInfo {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
