.ProductInfo {

    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 20px;
    color: cornflowerblue;

}


.ImgProductInfo {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}